@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr;
}
.width50{
    width: 50%;
    /* margin-left: 45px; */
}
.marginLeft156{
    margin-left: 156px;
}
/* Hero area  */
.hero-area {
	background-color: #2D25A0;
	padding: 100px 0;
}

.hero-content {
	padding-top: 60px;
}
.hero-content h1 {
	font-size: 64px;
	font-weight: bold;
	color: #fff;
	line-height: 80px;
}
.hero-btn {
	background: #E02C6D;
	border: 0;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	padding: 10px 24px;
	cursor: pointer;
	margin-top: 27px;
}
.hero-btn i {
	margin-left: 8px;
}
.hero-btn:hover .fas.fa-arrow-right {
	margin-left: 15px;
	transition: .5s;
}
.hero-thembinel {
	margin-top: 15px;
}
.hero-thembinel img {
	/* width: 525.01px;
	height: 425px; */
	width: 625px;
	height: 457px;
}
.img-efect img {
    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1);
    cursor: pointer;

}
.img-efect:hover img {
    transform: scale(1.2);
}


/* Players area  */
.players-area {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 43px 0px;
}
.players-wrap {
	width: 1100px;
	margin: 0 auto;
}
.player-card {
	padding: 15px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin-top: 27px;
	margin-left: 27px;
}
.player-thumbniel img {
	width: 100%;
    border-radius: 3px;
}
.player-neme {
	margin: 10px 0px;
	color: #18191F;
	font-size: 28px;
	line-height: 40px;
}
.player-discription {
	color: #6C6C6C;
	margin: 10px 0px;
	font-size: 16px;
	line-height: 26px;
}
/* highlight Area  */
.highlight-wrap {
	width: 1100px;
	margin: 0 auto;
	padding: 70px 0px;
}
.highlight-title {
	font-size: 30px;
	margin-top: 20px;
}
.highlight-title span{
    color: #3496C2;
}
.highlight-info, .highlight-content p {
	color: #6C6C6C;
	margin: 10px 0px;
	font-size: 16px;
	line-height: 26px;
	width: 500px;
	text-align: justify;
}
/* Member Benefits area  */
.member-wrap-bg{
    background-color: #3799C0;
}
.member-wrap{
    width: 1100px;
	margin: 0 auto;
	padding: 70px 0px;
}
.member-title {
	text-align: center;
	font-size: 35px;
	font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
}
.member-benefits {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.member-benefits img {
	width: 170px;

}
/* Footer area  */
.footer-wrap {
	text-align: center;
	padding: 50px 0px;
}
.footer-logo {
	margin-right: 30px;
}
.footer-logo img {
	width: 400px;
	height: 110px;
}
.footer-social-icon {
	padding: 20px 0px;
}
.footer-social-icon a {
    text-decoration: none;
}
.footer-social-icon a i {
	margin: 0px 14px;
	font-size: 20px;
	color: #969BAB;
    background: #E7E7E8;
	padding: 8px;
	border-radius: 50%;
	text-align: center;
}
.copy-right {
	font-size: 18px;
	color: #000;
	margin-top: 10px;
}


/*-------------------------
Responsive css  media querry 
--------------------------*/

/********************** 
    For Mobile Device
***********************/
@media only screen and (max-width:688px){

    .container {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr;
    }
    .marginLeft156 {
        margin-left: 0px;
    }
    .hero-thembinel img {
        width: 250px;
        height: 250px;
        margin-top: 41px;
        margin-left: 35px;
    }
    .hero-content h1 {
        font-size: 36px;
        font-weight: bold;
        color: #fff;
        line-height: 50px;
        margin-left: 35px;
    }
    .hero-area {
        padding: 30px 0;
        padding-bottom: 80px;
    }
    .hero-btn {
        margin-left: 40px;
    }
    .player-card {
        margin: 10px;
    }
    .players-wrap ,.member-wrap,.highlight-wrap {
        width: 100%;
        margin: 0 auto;
    }
    .players-area,.member-benefits {
        display: grid;
        grid-template-columns: 1fr;
        padding: 43px 0px;
    }
    .member-benefits img {
        width: 90%;
        margin-left: 17px;
    }
    .highlight-title {
        font-size: 30px;
        margin-top: 0px;
        margin-left: 35px;
        text-align: center;
    }
    .highlight-info, .highlight-content p {
        margin-left: 18px;
        margin-top: 20px;
        margin-bottom: 23px;
        width: 100%;
    }
    .width50 {
        width: 87%;
        margin-left: 0px;
    }
    .highlight-video iframe {
        width: 100%;
    }
    .highlight-video.width50 {
        width: 100%;
    }
    .footer-logo img {
        width: 289px;
        height: 110px;
    }
}


/********************** 
    For Tablet Device
***********************/
@media only screen and (min-width:689px) and (max-width:992px){
    .container {
        display: grid;
        justify-content: space-between;
        grid-template-columns:1fr 1fr;
    }
    .marginLeft156 {
        margin-left: 0px;
    }
    .hero-thembinel img {
        width: 250px;
        height: 250px;
        margin-top: 41px;
        margin-left: 35px;
    }
    .hero-content h1 {
        font-size: 36px;
        font-weight: bold;
        color: #fff;
        line-height: 50px;
        margin-left: 35px;
    }
    .hero-area {
        padding: 30px 0;
        padding-bottom: 80px;
    }
    .hero-btn {
        margin-left: 40px;
    }
    .player-card {
        margin: 10px;
    }
    .players-wrap ,.member-wrap,.highlight-wrap {
        width: 100%;
        margin: 0 auto;
    }
    .players-area,.member-benefits {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 43px 0px;
    }
    .member-benefits img {
        width: 90%;
        margin-left: 17px;
    }
    .highlight-title {
        font-size: 30px;
        margin-top: 0px;
        margin-left: 35px;
        text-align: center;
    }
    .highlight-info, .highlight-content p {
        margin-left: 18px;
        margin-top: 20px;
        margin-bottom: 23px;
        width: 100%;
    }
    .width50 {
        width: 87%;
        margin-left: 0px;
    }
    .highlight-video iframe {
        width: 100%;
    }
    .highlight-video.width50 {
        width: 100%;
    }
    .footer-logo img {
        width: 289px;
        height: 110px;
    }
}